ParentalControl.xcodeproj
ParentalControlCommon/build/*
ParentalControl/macOS/Info.plist
ParentalControl/iOS/Info.plist
ParentalControlCommon/.idea
ParentalControlCommon/local.properties
ParentalControlCommon/.gradle/config.properties
ParentalControlTests/macOS/Info.plist
gradlew.bat
.gradle/
gradlew
gradle/
