.gradle
ParentalControl.xcodeproj
gradle/
ParentalControlCommon/build/*
ParentalControl/macOS/Info.plist
ParentalControl/iOS/Info.plist
ParentalControl/Generated
gradlew
gradlew.bat
local.properties
ParentalControlCommon/.idea
